@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Merriweather:wght@400;700&family=Source+Sans+Pro:wght@400;600&display=swap");
.timer {
  margin-top: 10px;
  padding: 10px 1%;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 35%;
  justify-content: space-around;
  background-color: #ebecf0;
  border-radius: 10px;
  box-shadow: 1px 5px 15px #cc6666;
}
.timer__container {
  min-width: 260px;
  width: 100%;
  min-height: 200px;
  max-height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #df8f8f;
  outline: 4px solid #cc6666;
  margin: 8px 6px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #cc6666;
  cursor: grab;
}
.timer__container--task {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.timer__container--selection {
  width: 100%;
  height: 1.5rem;
  display: flex;
  justify-content: space-around;
  padding: 5px 0px;
}
.timer__container--selection button {
  height: 1.5rem;
  width: 5rem;
  border: none;
  background-color: #cc6666;
  color: white;
}
.timer__container--options {
  width: 100%;
  padding-right: 2%;
  padding: 5px 2%;
  display: flex;
  justify-content: center;
  background-color: #66cccc;
}
.timer__container--options button {
  position: relative;
  margin-top: 3px;
  color: #cecbcb;
  font-weight: 700;
  font-size: 1.2rem;
  background-color: white;
  width: 8rem;
  height: 2.5rem;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.timer-container {
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.timer-container-dragged {
  position: relative;
}
.timer-container-dragged:nth-child(1) {
  filter: blur(4px);
  opacity: 1;
}

ul > li {
  list-style: none;
  cursor: pointer;
}

.timer {
  margin-top: 10px;
  padding: 10px 1%;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 35%;
  justify-content: space-around;
  background-color: #ebecf0;
  border-radius: 10px;
  box-shadow: 1px 5px 15px #cc6666;
}
.timer__container {
  min-width: 260px;
  width: 100%;
  min-height: 200px;
  max-height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #df8f8f;
  outline: 4px solid #cc6666;
  margin: 8px 6px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #cc6666;
  cursor: grab;
}
.timer__container--task {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.timer__container--selection {
  width: 100%;
  height: 1.5rem;
  display: flex;
  justify-content: space-around;
  padding: 5px 0px;
}
.timer__container--selection button {
  height: 1.5rem;
  width: 5rem;
  border: none;
  background-color: #cc6666;
  color: white;
}
.timer__container--options {
  width: 100%;
  padding-right: 2%;
  padding: 5px 2%;
  display: flex;
  justify-content: center;
  background-color: #66cccc;
}
.timer__container--options button {
  position: relative;
  margin-top: 3px;
  color: #cecbcb;
  font-weight: 700;
  font-size: 1.2rem;
  background-color: white;
  width: 8rem;
  height: 2.5rem;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.timer-container {
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.timer-container-dragged {
  position: relative;
}
.timer-container-dragged:nth-child(1) {
  filter: blur(4px);
  opacity: 1;
}

ul > li {
  list-style: none;
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.bg {
  width: 100vw;
  height: 100vh;
  background-color: #cc6666;
  padding: 10px 20px 0px 20px;
}

.drag-drop-zone {
  padding: 2rem;
  text-align: center;
  background: #07f;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 10px #673232;
}

.drag-drop-zone p {
  color: #fff;
}

.drag-drop-zone.inside-drag-area {
  opacity: 0.7;
}

.dropped-files li {
  color: #07f;
  padding: 3px;
  text-align: left;
  font-weight: bold;
}

/*# sourceMappingURL=styles.css.map */
